*, body{
    margin: 0;
    padding: 0;
  }
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500&display=swap');
  
  #acceuil {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  } 
  .btn-close {
    font-size: 24px;
    font-weight: bold;
  }   
  .navbar{
  transition: all 0.5s ;
  }
  .navbar-brand, .navbar-toggler{
    color: white !important;
  }
  .navbar-scrolled{
  background-color: white !important;
  box-shadow: 2px 2px 4px #8b8a8a9a !important;
  }
  .navbar-scrolled .navbar-brand, .navbar-scrolled .navbar-toggler{
    color: black !important;
  }
  .navbar-toggler:hover{
    color: rgba(241, 64, 64, 0.822) !important;
  }
  .offBg{
    background-color: rgba(0, 0, 0, 0.603);
    width: 100% !important;
  }
  .nav-link:hover{
    color: white !important;    
  }

.btn3d {
    position:relative;
}
.Rbtn3d:hover {
    background-color: black;
}
.Rbtn3d {
    border: none;
    box-shadow:0 0 0 1px #C24032 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 2px 0 0 #C24032, 0 2px 0 1px rgba(0,0,0,0.4), 0 2px 2px 1px rgba(0,0,0,0.5);
    background-color:#C24032;
}
  /* SECTION 2 */
  .trait{
    width: 100px;
    height: 2px;
  }
  
  /* SECTION 3 */
  #recette{
    background-image: linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.697)), url('./medias/OperadorA-De-Herramientas-De-Marketing-Digital.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  @media (max-width: 770px) {
    .colonne{
      margin-top: 25px;
    } 
  }

  /* SECTION 4 */
  #agence{
    background-image: linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.697)), url('./medias/nespresso-recipes-CAPPUCCINO-BANANA-SESAME-SEEDS.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  /* SECTION 6 */
  #agence1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.697)), url('./medias/ipad-user.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

   /* SECTION 7 */
   #agence2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.697)), url('./medias/salade-verte-assiette-laitue.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
   /* SECTION 8 */
   #agence3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.697)), url('./medias/P00611977_d2.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
   /* SECTION 9 */
   #agence4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.697)), url('./medias/Digital-transformation.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

     /* SECTION 10 */
     #agence5{
        background-image: linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.697)), url('./medias/image.webp');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
    /* SECTION 11 */
    #agence6{
        background-image: linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.697)), url('./medias/IMG_8434-32f9e8548ae6258e1c987b8d8359f1e1.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    [href="#hautDePage"] {
        position: fixed;
        bottom: 20px;
        right: 20px;
      }
    .haut:hover{
        color: black !important;
    }





      /* COMPTEUR */
      .card-header {
        font-size: 40px;
        font-weight: bold;
        color: rgba(241, 64, 64, 0.822);
        animation: count 3s ease-in-out;
      }
      
      @keyframes count {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      

      /* SECTION13 */
      .inputf{
        height: 50px !important;
        background-color: whitesmoke !important;
      }
      input:focus, textarea:focus{
        box-shadow: none !important;
      }
      textarea{
        background-color: whitesmoke !important;
      }
      .inputf::placeholder, textarea::placeholder{
        color: rgba(0, 0, 0, 0.712) !important;
        font-weight: bold;
      }

      .g-recaptcha {
        transform: scale(0.75);
        transform-origin: 0 0;
        margin: 0 ;
      }
      @media (max-width: 774px) {
        .wclient{
            width: 100% !important;
        }
        .start{
            text-align: start !important;
            width: 100% !important;
        }
      }
/* FOOTER */
footer{
    height: 70px !important;
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RESAUX */
.list-unstyled li:hover{
  background-color: black !important;
}